@import url("common.css");

/* Styles for components  */
/* components */
@import url("../components/sortable-table/src/style.css");
@import url("../components/range-picker/src/style.css");
@import url("../components/column-chart/src/style.css");
@import url("../../06-events-practice/3-double-slider/style.css");

